@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .mobile-social-list {
    gap: 56px;
  }
  .mobile-number {
    font-size: 36px;
  }
  .footer-label-input {
    width: 390px;
  }
}

/* №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ################--HEADER--###################### */

  .header-container {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .mobmenu-btn-open {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /*################---HERO---#################  */
  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .hero {
    background-color: var(--navyblue, #2e2f42);
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  /*################---peculiarities---#################  */

  .peculiarities-list {
    padding: 0;
    gap: 72px 24px;
  }

  .peculiarities-item {
    width: calc((100% - 24px) / 2);
  }
  .peculiarities-name {
    text-align: left;
  }
  /*################---OUR TEAM---#################  */
  .team-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 64px 24px;
    margin-top: 72px;
  }

  .team-item {
    width: calc((100% - 48px) / 2);
    margin-top: 0;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .team-title {
    margin-bottom: auto;
  }
  /*################---CUSTOMERS---#################  */
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 72px 24px;
  }

  .customers-link {
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate-cl);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-item {
    width: calc((100% - 24px) / 4);
    margin-bottom: 0;
    width: 168px;
  }

  /*################---FOOTER---#################  */

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    /* display: flex;
    flex-wrap: wrap; */
    background: var(--navyblue, #2e2f42);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
      max-width: 552px;
    }
  }

  .footer-logo-paragraf {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 264px;
  }

  .footer-paragraf-icons {
    /* max-width: 250px; */
    margin-left: 24px;
  }

  .footer-label-input {
    width: 264px;
  }

  .footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    margin-left: 24px;
  }
  .footer-title-form {
    margin-left: 0;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-logo {
    color: var(--accent-cl);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em; /* 0.54px/18 */
    text-transform: uppercase;
    /* display: inline-flex; */
  }

  .footer-text-underlogo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-cl);
    /* margin-bottom: 16px; */
    /* margin-left: 108px; */
    display: inline;
  }

  .footer-list {
    display: flex;
    justify-content: flex-start;
    /* margin-left: 108px; */
    gap: 16px;
    margin-top: 16px;
  }
}

/* №№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№
№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№№ */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* ################--HEADER--###################### */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 332px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-container {
    display: flex;
  }

  /*################---HERO---#################  */

  .hero {
    background-color: var(--navyblue, #2e2f42);
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /*################---peculiarities---#################  */
  .peculiarities {
    padding: 120px 0;
  }

  .peculiarities-list {
    display: flex;
    gap: 24px;
  }

  .peculiarities-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .peculiarities-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .peculiarities-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .peculiarities-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; /* 0.32px/16 */
  }

  .products {
    display: flex;
  }

  /*################---OUR TEAM---#################  */

  /*################---CUSTOMERS---#################  */

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /*################---FOOTER---#################  */

  .footer {
    background: var(--navyblue, #2e2f42);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;

    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-logo-paragraf {
    margin-bottom: 0;
  }

  .footer-logo {
    color: var(--accent-cl);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em; /* 0.54px/18 */
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-logo-color {
    color: var(--iris, #f4f4fd);
  }
  .footer-text {
    color: var(--cloud, #f4f4fd);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; /* 0.32px/16 */
    /* width: auto; */
    margin-bottom: 0;
    max-width: 264px;
  }

  .footer-text-underlogo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-cl);
    margin-bottom: 16px;
    display: inline;
    margin-left: 0;
  }
  .footer-paragraf-icons {
    margin-left: 120px;
  }

  .footer-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
  }

  .footer-item {
    width: 40px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-cl);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-icons {
    fill: var(--cloud-cl);
  }

  .footer-form-section {
    margin-top: 0;
    margin-left: 80px;
  }

  .footer-title-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 0;
  }
  .footer-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-label-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    margin-left: 0;
  }

  .footer-label-input::placeholder {
    color: #ffffff;
  }

  .footer-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-left: 0;
  }

  .footer-button-icon {
    margin-left: 16px;
    fill: var(--cloud-cl);
  }
}
