@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /* ################--HEADER--###################### */

  .header-container {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .mobmenu-btn-open {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /*################---HERO---#################  */
  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .hero {
    background-color: var(--navyblue, #2e2f42);
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  /*################---peculiarities---#################  */

  .peculiarities-list {
    padding: 0;
    gap: 72px 24px;
  }

  .peculiarities-item {
    width: calc((100% - 24px) / 2);
  }
  .peculiarities-name {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* ################--HEADER--###################### */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 332px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-container {
    display: flex;
    /* align-items: center; */
    /* margin-left: 156px; */
  }

  /*################---HERO---#################  */

  .hero {
    background-color: var(--navyblue, #2e2f42);
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /*################---peculiarities---#################  */
  .peculiarities {
    padding: 120px 0;
  }

  .peculiarities-list {
    display: flex;
    gap: 24px;
  }

  .peculiarities-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .peculiarities-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .peculiarities-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .peculiarities-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; /* 0.32px/16 */
  }
}
