@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /* ################--HEADER--###################### */

  .header-container {
    display: flex;
    align-items: center;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-button {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /*################---HERO---#################  */

  /*################---peculiarities---#################  */

  .peculiarities-list {
    padding: 0;
    gap: 72px 24px;
  }

  .peculiarities-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* ################--HEADER--###################### */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 156px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-container {
    display: flex;
    align-items: center;
    margin-left: 156px;
  }

  /*################---HERO---#################  */

  /*################---peculiarities---#################  */
  .peculiarities {
    padding: 120px 0;
  }

  .peculiarities-list {
    display: flex;
    gap: 24px;
  }

  .peculiarities-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .peculiarities-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .peculiarities-name {
    color: var(--navyblue, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .peculiarities-text {
    color: var(--slate, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; /* 0.32px/16 */
  }
}
